<% @page_title = "Posts that #{h(@user.display_name)} is monitoring" -%>

<% content_for :right do %>

<h4><%= "#{link_to(h(@user.display_name), user_path(@user))}'s Monitored Topics" %></h4>
<ul class="flat">
<% @user.monitored_topics.find(:all, :limit => 25).each do |topic| %>
  <li><%= link_to topic.title, forum_topic_path(topic.forum_id, topic) %></li>
<% end %>
</ul>

<% end -%>

<h1><%= @page_title %></h1>
<p class="subtitle">
  <%= feed_icon_tag @page_title, monitored_posts_path(:user_id => @user, :format => 'rss') %>
  <%= number_with_delimiter(@posts.total_entries)] %> posts found.
</p>

<%= will_paginate @posts %>

<table border="0" cellspacing="0" cellpadding="0" class="posts wide">
<% for post in @posts do %>
<% unless post == @posts.first %>
<tr class="spacer">
  <td colspan="2">&nbsp;</td>
</tr>
<% end %>
<tr class="post hentry" id="<%= dom_id post %>">
  <td class="author vcard">
    <div class="date">
      <abbr class="updated" title="<%= post.created_at.xmlschema %>">
        <%= post.created_at.strftime("%e %B %Y at %I:%M%p")%>
      </abbr>
    </div>

    <%= avatar_for post.user %>
    <span class="fn"><%= link_to truncate(h(post.user.display_name), :length => 15), user_path(post.user), :class => (post.user == @posts.first.user ? "admin" : nil) %></span>
    <span class="posts"><%= '{number_with_delimiter(post.user.posts.size)} post(s)'%></span>
  </td>
  <td class="body entry-content">
    <p class="topic">Topic: <%= link_to h(post.topic_title), forum_topic_path(post.forum_id, post.topic_id) %></p>
    
    <%= post.body_html %>
  </td>
</tr>

<% end %>
</table>

<%= will_paginate @posts %>